<!DOCTYPE HTML5>
<html>
<head>
<title>
Home
</title>
<h1> WELCOME to EMAIL AUTOMATER {{user.first_name}}</h1>
</head>
<body>
    <div style="background-color:cyan">
        Your groups:
        {% for email in emails %}
        {% if forloop.counter|divisibleby:2 %}{% for eml in email %}<p>{{eml.EMAIL}}</p>{% endfor %}{% else %}<form action="send_email" method="post">{% csrf_token %}<input type="textbox" name="grp_name" value={{email}} readonly="readonly" /><input type="submit" /></form>{% endif %}
        {% endfor %}
        <form action="addgroup">
            <button>Add Group</button>
        </form>
    </div>
</body>
</html>